{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - Single Team

{% endblock %}


{% block content %}

    <h1>A Single Team...</h1>


    <article>

        <header>
            <h3>{{ team.name }}</h3>
        </header>

        <p><strong>{{ player.name }}</strong></p>
        <P>{{ player.notes }}</P>

        <footer>

            {# Only show delete link if logged in AND owner #}
            {% if session.user_id and (team.user_id == session.user_id) %}

                <a href="/delete/{{ thing.id }}" onclick="return confirm('Really delete?');">Delete</a>

            {% else %}

                Manager: <strong>{{ team.manager }}</strong>

            {% endif %}

        </footer>

    </article>


    <a role="button" href="/">Back to Team List</a>

{% endblock %}

